*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --cor-azul-escuro:#437DA4;
    --cor-azul-claro:#7BAAC9;
    --cinza-azul:#A2AEB8;
    --cinza-claro:#E2E2E2;
    --cor-fonte:#232323;
    --cor-verde:#75B3B6;
    --fonte: 'Roboto', arial, sans-serif;

}
html{
    font-size:62.5%;
}
body{
    font-family:var(--fonte);
    color:var(--cor-fonte);
    font-size:1.6rem;
    background-color:#7BAAC9;
}
img{
    max-width:100%;
}
.container{
    max-width:1140px;
    width:85%;
    margin:0 auto;
}
header{
background:var(--cor-azul-escuro);
height:100px;
width:100%;
    border-bottom-style:solid;
    border-bottom-color:var(--cinza-claro);
    border-width:0.5rem;
}

header .menu-principal > ul{
    display:flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    
}

header .menu-principal a{
    color: var(--cinza-claro);
    text-decoration: none;
    font-weight: bold;
    padding:.5rem;
    
}
header .menu-principal a:hover{
    color:var(--cor-azul-claro);
    border-bottom:.7rem solid var(--cor-azul-claro);
}

.imagem-logo{
    display: grid;
    align-self: center;
    background-color:var(--cor-azul-claro);
}
    
.logotipo > img{
    align-self: center;
}
    
.boas-vindas{
    background-color:var(--cinza-azul);
    border-bottom: 15px solid var(--cor-azul-escuro);
}
.missao{
    background-color: var(--cinza-azul);
    border-bottom: 15px solid var(--cor-azul-escuro);
}
header .logo-alt{
    display:none;
}
.container-conteudo{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.cursos{
    background-color: var(--cinza-azul);
}
.cursos-conteudo{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.cursos-categoria{
    width:33%;
    text-align:center;
    margin:5rem 0;
}
.cursos-categoria h2{
    font-size:2.5rem;
}
.section-titulo{
    background-color: var(--cor-verde);
    display:inline-block;
    padding: 1rem 5rem;
    margin-top:2rem;
    border-radius:2rem;
}
.section-titulo1{
    background-color: var(--cor-verde);
    display:inline-block;
    padding: 1rem 5rem;
    margin-top:6.9rem;
    border-radius:2rem;
}

footer{
    background-color: var(--cor-azul-escuro);
}
.container-footer{
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}
.logo-min{
    background:url("../imagens/logomin.png") no-repeat;
}
.conteudo-cadastro{
    border-top:1.5rem solid var(--cor-azul-escuro);
    min-height:500px;
    background-color: var(--cinza-azul);
}
.conteudo-cadastro form{
    padding: 2rem;
    max-width:600px;
    margin:2rem auto;
}
.campo-formulario{
    margin:1.7rem 0;
}
.campo-formulario input, 
.campo-formulario select,
.campo-formulario textarea{
    width:100%;
    padding:1rem;
}

.campo-formulario input[type=radio]{
    width:initial;
    margin:0 1rem 0 2rem;
}
.campo-formulario input[type=checkbox]{
    width:initial;
    margin:1rem;
}

.enviar{
    background-color: var(--cor-verde);
    display:inline;
    padding: 2rem 3rem;
    margin-top:2rem;
    border-radius:1rem;
    border-color:var(--cor-azul-escuro);
    font-size:1.4rem;
}
#cadastro1{
    color:var(--cor-fonte);
    font-size: 3rem;
    text-align:center;
    margin-top:4rem;
}


.campo-formulario fieldset{
    padding: 2 rem;
}

.conteudo-atividades{
    background-color: var(--cinza-azul);
    border-top:1.5rem solid var(--cor-azul-escuro);
    min-height:500px;
}
#titulo-atividade{
    color:var(--cor-fonte);
    font-size:3rem;
    text-align:center;
    margin-top:4rem;
}
#horario{
    text-align: center;
}
#dizimo{
    text-align:center;
    margin-top: 4rem;
    font-size:5rem;
}
#oracao{
    text-align: center;
}